.wrapper {
    background-image: url("../img/background@2.png");
    background-size: cover;
}

.main-page {
    width: 1216px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

.header {
    padding: 50px 70px;
}

.logo {
    float: left;
    color: #ffffff;
    text-transform: uppercase;
    padding-left: 60px;
    font-weight: bold;
    position: relative;
}

.logo::before {
    content: url("../img/logo.png");
    position: absolute;
    left: 0;

}

.logo-text-top {
    font-size: 29px;

}

.logo-text-bottom {
    font-size: 18px;
    margin-top: 2px;
}

.logo:hover {
    color: limegreen;
}

.logo:hover:before {
    content: url("../img/logo_hover@2.png");
}

.contacts {
    float: right;
    color: #ffffff;
    font-size: 18px;
    text-align: right;
}

.contacts-email {
    margin-bottom: 7px;
}

.tours {
    margin-left: 70px;
}

.tours-item {
    position: relative;
    float: left;
    margin-right: 70px;
    margin-bottom: 50px;
}

.tours-item-img  {
    border: 2px solid;
    border-image: linear-gradient(to bottom, white 0%, black 100%);
    border-image-slice: 1;
    box-shadow: 0 0 30px rgba(0,0,0,0.7);
}

.tours-item-text {
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
}

.tours-item-price {
    position: absolute;
    width: 100%;
    height: 63px;
    background-color: limegreen;
    color: #ffffff;
    opacity: 0;
    bottom: 0;
    transition-duration: 0.5s;
}

.tours-item-price-text {
    font-size: 10px;
    margin: 16px 0 7px 21px;
}

.tours-item-price-value{
    float: left;
    font-size: 20px;
    margin-left: 21px;
}

.tours-item-price-details {
    float: right;
    font-size: 14px;
    margin-top: 6px;
    margin-right: 20px;
}

.tours-item-price-details::after {
    content: '\00A0\003E';
}

.tours-item:hover .tours-item-price {
    opacity: 1;
    bottom: 40px;
}
.tours-item:hover .tours-item-price2 {
    opacity: 1;
    bottom: 40px;
}

.tours-item:hover .tours-item-text {
    color: limegreen;
}

.footer {
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    padding-bottom: 20px;

}

.button-style {
    position: fixed;
    width: 100px;
    height: 70px;
    background-color: black;
    top: 50px;
    right: 30px;
    border-radius: 12px;
    border-style: none;
    color: white;
    font-size: 14px;
    outline: none;
    opacity: 0.6;
    text-transform: uppercase;
}
.button-style:hover {
    opacity: 1;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
